/* Custom CSS goes here. */
code {
	border-left: 0;
	box-sizing: initial;
	margin: initial;
	padding: initial;
	font-size: 13px;
}

pre {
	background-color: #f5f5f5;
	overflow: auto;
	font-size: 13px;
}

img {
	display: block;
	margin: auto;
}
